/* IFRAME*/

#iframe {
  height: 100%;
  width: 100%;
}

#delPost {
  color: black;
  cursor: pointer;
}

#cardReveal {
  background: rgb(13, 14, 14);
  background: linear-gradient(180deg, rgba(13, 14, 14, 1) 0%, rgba(175, 175, 175, 1) 100%, rgba(255, 255, 255, 1) 100%);
  color: white;
}

#post {
  border: solid .5px #00897b;
  padding: 5px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.card-img-pic {
  width: 100%;
  height: 154.4px;
}